body {
    background-color: rgb(41, 172, 74);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#title, #userBal {
    color: black;
    display: inline-flex;
    padding: 10px;
    background-color: wheat;
    border-radius: 50px;
    justify-content: center;
    margin: 10px;
}

.container button {
    margin: 50px;
    margin-right: 50px;
    background-color: rgb(0, 255, 213);
    font-size: 25px;
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
    width: 100px;
    height: 50px;
}
.container #newsButton{
    margin: 50px;
    margin-right: 50px;
    background-color: rgb(0, 255, 213);
    font-size: 25px;
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
    width: 100px;
    height: 100px;
}
.container #bankDeposit{
    margin: 50px;
    margin-right: 50px;
    background-color: rgb(0, 255, 213);
    font-size: 25px;
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
    width: 100px;
    height: 190px;
}
.investMenu {
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: transparent;
    width: auto;
    height: auto;
    gap: 15px;
}

.investMenu button {
    background-color: rgb(0, 255, 213);
    font-size: 25px;
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin: 5px;
}
.randomEvent {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.randomEvent button{
    background-color: rgb(0, 255, 213);
    font-size: 25px;
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin: 5px;
}
button:hover {
    transform: scale(1.1);
    transition: transform 0.2s cubic-bezier(0.25, 1.5, 0.5, 1); /* Adds a bounce-like easing */
}
#currentNewsIdentifier{
    background-color: aquamarine;
    border-radius: 15px;
    padding: 15px;
}
.savingAccountDialog {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
button {
    background-color: rgb(0, 255, 213);
    font-size: 25px;
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin: 5px;
}
#nextCountdown{
    background-color: aquamarine;
    border-radius: 15px;
    padding: 15px;
}
#depositDialog{
    font-family: cursive, serif;
    background-color: aquamarine;
    border-radius: 15px;
    border-width: 0px;
    padding: 15px;
}
#depositButton{
    background-color: rgb(0, 255, 213);
    font-size: 25px;
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
    width: 150px;
    height: 50px;
}
#withdrawButton{
    background-color: rgb(0, 255, 213);
    font-size: 25px;
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin-bottom: 50px;
}
#savingsDialong{
    font-size: 35px;;
    background-color: aquamarine;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
}
#savingsInfo{
    font-size: 20px;;
    background-color: aquamarine;
    border-radius: 15px;
    padding: 15px;
    margin-top: 0px;
}
#userLogin{
    font-size: 20px;;
    background-color: aquamarine;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
}
#userPass{
    font-size: 20px;;
    background-color: aquamarine;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
}
.mainContent{
    display: none;
}
.loginMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}